html,body {
    margin: 3%;
    font-style: oblique;  
    text-align: left; 
    font-family: cursive;
}
body{
    background-image: url(img\ 1.jpg);
    background-size: cover;
    color: white;
    float: unset; 
    text-align: right;
}
.article {
    text-align: left;
    margin: 0%;    
}
    
